<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="comLogMapper">

  <insert id="insert">
      <![CDATA[
        /* userMapper.insert */
        INSERT INTO tb_comm_log_mst
        ( , SCRN_ID
          , USER_ID
          , REQ_TP_CD
          , ALL_URL_CTNTS
          , SECT_URL_CTNTS
          , REQ_PARAM_CTNTS
          , REQ_TRX_CTNTS
          , CNTN_IP
          , REG_ID
          , REG_DTM
          , MOD_ID
          , MOD_DTM
        )
        VALUES (
               , #{scrnId}            
               , #{userId}
               , #{reqTpCd}
               , #{allUrlCtnts}
               , #{sectUrlCtnts}
               , #{reqParamCtnts}
               , #{reqTrxCtnts}
               , #{cntnIp}
               , #{regId}
               , #{regDtm}
               , #{modId}
               , #{modDtm}
               )
    ]]>
  </insert>

</mapper>